.nav {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav__btn {
    width: 32px;
    height: 32px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

